<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.melanieh.dignitymemorialandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Tell the system this app requires OpenGL ES 2.0 for GoogleMaps API V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".DMApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.MenuItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- intent for notification calendar event viewing -->
            <intent-filter>
                <action android:name="android.intent.ACTION_INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/event" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MenuItemDetailActivity"
            android:parentActivityName=".ui.MenuItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.melanieh.dignitymemorialandroid.ui.MenuItemListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.melanieh.dignitymemorialandroid.ui.MenuItemListActivity" />
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.android.melanieh.dignitymemorialandroid.ui.MenuItemListActivity" />

        <activity
            android:name=".ui.PlanViewPagerActivity"
            android:parentActivityName=".ui.MenuItemListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ui.PlanDetailsDialogActivity" />
        <activity
            android:name=".ui.SearchResultActivity"
            android:parentActivityName=".ui.CompleteFormActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.melanieh.dignitymemorialandroid.ui.MenuItemListActivity" />
        </activity>

        <activity
            android:name=".ui.CompleteFormActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.PlanSummaryActivity"
            android:parentActivityName=".ui.MenuItemListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- providers -->
        <provider
            android:name=".data.UserSelectionProvider"
            android:authorities="com.android.melanieh.dignitymemorialandroid"
            android:exported="false"
            android:grantUriPermissions="true" />

        <!-- receivers -->
        <receiver android:name=".widget.DMWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- intent service for fetching data and resources from web services -->


        <!-- analytics -->
        <!--
     AnalyticsReceiver and AnalyticsService to support background
     dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


    </application>

</manifest>